<!DOCOTYPE html>
<html lang=eng>
<head>
	<meta charset="UTF-8">
	<title>Authentication</title>
	<style>
		body {text-align: center;}
		h1 {color: SlateBlue;}
		label {color: SlateBlue;}
	</style>
</head>
<body>
	<h1><strong>Log in</strong></h1>
	<form action="/login" method="post">
		<label><b>Number or username</b></label>
		</br>
		<input name="username" type="text"/>
		</br>
		</br>
		<label><b>Password</b></label>
		</br>
		<input name="password" type="password"/>
		</br>
		</br>
    		<input type="submit" name="login_button" value="Log in">
	</form>
</body>
